<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.subscription.dao.Sub_paymentMapper">
 	<select id="getSub_paymentByMem_num" parameterType="long" resultType="sub_paymentVO">
		 	SELECT
	 	   *
	    FROM (SELECT
	            a.*,
	            rownum rnum
	          FROM (SELECT
	                  *
	                FROM sub_payment				<!-- 알리아스 -->
	                )a) WHERE mem_num=#{mem_num} ORDER BY sub_pay_date DESC
	</select>       
 </mapper>







