<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.notify.dao.NotifyMapper">
	<!-- 알림 로그 찍기 -->
	<insert id="insertNotifyLog" parameterType="notifyVO">
		INSERT INTO notify_log(
							not_num,
							mem_num,
							notify_type,
							not_message,
							not_url)
					VALUES(
							not_seq.nextval,
							#{mem_num},
							#{notify_type},
							#{not_message},
							#{not_url, jdbcType=VARCHAR}
							)
	</insert>
	
	<!-- 알림 목록(안 읽은 것, 최근 2주) -->
	<select id="selectNotListByMemNum" parameterType="long" resultType="notifyVO">
        SELECT *
        FROM notify_log
        JOIN db_notify_template
        USING (notify_type)
        WHERE mem_num = #{mem_num}
          AND (not_read_datetime IS NULL OR not_datetime >= SYSDATE - INTERVAL '14' DAY)
        ORDER BY not_datetime DESC
    </select>
</mapper>







