@charset "UTF-8";


.category-image {
	width: 30px important;
}

.table thead th {
	text-align: center !important; /* 헤더 셀 가운데 정렬 */
	background-color: #5bc1ac !important; /* 헤더 배경색 */
	color: #fff !important; /* 헤더 텍스트 색상 */
}

.table td {
	vertical-align: middle;
	padding: 0 !important; /* 행간 좁히기 */
	height: 2.5rem;
}

.table-hover tbody tr:hover {
	background-color: #fff !important;
}

.table th {
	vertical-align: middle;
	padding: 0.8rem !important; /* 행간 좁히기 */
	height: 2.5rem;
}

.btn-custom {
	margin: 0 0.5rem !important;
}

.home-tab .btn {
	border: 1px solid #5bc1ac !important;
	color: #5c5c5c !important;
	font-size: 1rem;
}

.home-tab .btn:hover {
	background-color: #fff;
}

.home-tab .btn:disabled {
	border: 1px solid #a3a3a3 !important;
}

#allResultBtn, .custom-basic-btn {
	border: none;
	background-color: #5a6f80;
	color: #fff;
	border-radius: 3px;
}

ul.search {
	height: 2.5rem;
}

.h-100 {
	height: 100%;
}

.h-80 {
	height: 80%;
}

.clickable-text {
	cursor: pointer;
}

td img {
	width: 0.9rem !important;
	height: auto !important;
}

.report-content {
	display: inline-block;
	width: 20rem !important;
	white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정 */
	overflow: hidden; /* 넘치는 텍스트를 숨김 */
	text-overflow: ellipsis; /* 넘치는 텍스트에 ...을 표시 */
}
