@charset "UTF-8";

ul {
	padding: 0;
}

.form-error {
	color: red;
}

.clickable-image, .clickable {
	cursor: pointer;
}

/*1:1문의*/
#inquiryContent {
	border: 1px solid #000000;
	border-radius: 6px;
	margin: 5px 0;
}

#inquiryResponse {
	margin: 5px 0;
}

#inquiry_form textarea {
	resize: none;
}

/*faq*/
.user-faq-item {
	list-style: none;
}
	
#faq_list {
	padding: 0;
}

.faq-item {
	border: 1px solid #000000;
	border-radius: 6px;
	padding: 5px 10px;
	margin: 10px 0;
}

#insert_faq {
	width: 97%;
	border: 1px solid #000000;
	border-radius: 6px;
	padding: 5px 10px;
	margin: 10px 0;
}

.radio-option {
	display: flex;
	width: 120px;
}

.faq-category-text {
	color:#597081;
	font-size: 0.8rem;
}

.user-faq-item {
	border-bottom: 1px solid #cfcfcf;
	margin: 0.5rem 0;
	padding: 0.6rem 0.8rem;
}

.user-faq-item {
	cursor: pointer;
}

.faq-question-text {
	font-size: 1.2rem;
	font-weight: 600;
}

/*신고*/
table {
	width: 100%;
	border-collapse: collapse;
}

.report-content {
	display: inline-block;
	white-space: nowrap; /* 텍스트를 한 줄로 표시 */
	overflow: hidden; /* 넘치는 텍스트를 숨김 */
	text-overflow: ellipsis; /* 넘치는 텍스트를 말줄임(...)으로 표시 */
	max-width: 300px;
}