@charset "UTF-8";

ul {
	padding: 0;
}

.form-error {
	color: red;
}

.clickable-image, .clickable {
	cursor: pointer;
}

/*1:1문의*/
#inquiryContent {
	border: 1px solid #000000;
	border-radius: 6px;
	margin: 5px 0;
}

#inquiryResponse {
	margin: 5px 0;
}

/*faq*/
.faq-item {
	border: 1px solid #000000;
	border-radius: 6px;
	padding: 5px 10px;
	margin: 10px 0;
}

#insert_faq {
	width: 97%;
	border: 1px solid #000000;
	border-radius: 6px;
	padding: 5px 10px;
	margin: 10px 0;
}

.radio-option {
	display: flex;
	width: 120px;
}

.faq-category-text {
	color: blue;
}

.user-faq-item {
	background-color: #f2f2f2;
	border-bottom: 1px solid #000000;
	margin: 0;
	padding: 8px 0;
}

.user-faq-item .faq-question-text {
	cursor: pointer;
}

/*신고*/
table {
	width: 100%;
	border-collapse: collapse;
}

.report-content {
	display: inline-block;
	white-space: nowrap; /* 텍스트를 한 줄로 표시 */
	overflow: hidden; /* 넘치는 텍스트를 숨김 */
	text-overflow: ellipsis; /* 넘치는 텍스트를 말줄임(...)으로 표시 */
	max-width: 300px;
}