@charset "UTF-8";

.dbox_information {
    margin: 20px;
}
.pr-steps {
    margin-top: 4rem !important;
}

.pr-step .card-body {
	min-height: 12rem;
}

.pr-arrow {
	width: 5rem !important;
    text-align: center;
    font-size: 1.2em;
    margin: 10px 20px;
}

.pr-step .card-title {
	font-size: 1.3rem;
}

.pr-btn-div {
	margin-top: 3rem;
}

.pr-custom-btn {
	line-height: 1.7 !important;
	font-weight: bold;
	padding: 4px 12px;
	border-radius: 6px;
	color: #fff;
	background-color: #5a6f80;
	border: none;
}

.pr-custom-btn:hover {
	background-color: #5bc1ac;
}