@charset "UTF-8";

.custom-dropdown-menu {
	position: absolute;
	top: 100%; /* 버튼 아래 위치 */
	left: -80% !important; /* 버튼 왼쪽 위치 */
	transform: translateX(-80%); /* 버튼 왼쪽에 위치 */
	margin-top: 0.5rem; /* 버튼 아래와 메뉴 사이의 간격 */
	max-width: 500px !important; /* 최대 폭 설정 */
	min-width: 300px !important; /* 최소 폭 설정 */
	max-height: 400px; /* 최대 높이 설정 */
	overflow-y: auto; /* 스크롤 추가 */
}

#notify_icon {
    position: relative; /* 아이콘의 상대적 위치를 기준으로 점을 배치할 수 있게 설정 */
}

.notification-badge {
    position: absolute; /* 아이콘 내부에서 절대 위치 지정 */
    top: 0; /* 아이콘의 위쪽에 위치 */
    right: 0; /* 아이콘의 오른쪽에 위치 */
    width: 5px; /* 점의 너비 */
    height: 5px; /* 점의 높이 */
    background-color: red; /* 점의 색상 */
    border-radius: 50%; /* 점을 원형으로 만듦 */
    transform: translate(50%, -50%); /* 점을 아이콘의 모서리에서 살짝 오른쪽 위로 이동 */
}