@charset "UTF-8";

/*전체 레이아웃*/
.container-padding {
	padding: 2rem;
}

.main-container {
	height: auto;
	width: 100%;
	margin: 2rem auto !important;
}

.top-banner {
	height: auto;
	width: 100%;
	margin: 2rem auto !important;
}

.main-section {
	background-color: #fff;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 0.75rem;
	padding: 1.5rem 1.8rem;
	margin-bottom: 2.5rem;
}

.left-section, .right-section {
	display: flex;
	flex-direction: column;
}

.left-section {
	width: 67%
}

.right-section {
	width: 28%;
}

@media ( max-width : 992px) {
	.main-section {
		height: auto;
		margin: 0 1rem 1.5rem 1rem;
	}
	.d-flex {
		flex-direction: column; /* 세로 방향으로 정렬 */
	}
	.left-section, .right-section {
		/* 태블릿 및 모바일에서는 열을 나누지 않음 */
		width: 100%; /* 각 섹션이 전체 너비를 차지하도록 설정 */
		margin-bottom: 1.5rem; /* 섹션 간 간격 설정 */
	}
}

.main-section .title-style {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	font-size: 1.125rem;
	color: #2e2e2e;
}

/*챌린지1*/

/*챌린지2*/

/*정기기부*/

/*기부박스*/

/*굿즈샵*/