@charset "UTF-8";

.form-error {
	color: red;
}

.clickable-image, .clickable {
	cursor: pointer;
}


/*1:1문의*/
#inquiryContent {
	border: 1px solid #000000;
	margin: 5px 0;
	white-space: pre-line;
}

#inquiryResponse {
	margin: 5px 0;
	white-space: pre-line;
}