<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.goods.dao.GoodsMapper">
	<!-- 상품 등록 -->
	<insert id="insertGoods" parameterType="goodsVO">
		INSERT INTO item(
		item_num,
		dcate_num,
		item_name,
		item_photo,
		item_detail,
		item_price,
		item_stock,
		item_status)VALUES(
		item_seq.nextval,
		#{dcate_num},
		#{item_name},
		#{item_photo,jdbcType=VARCHAR},
		#{item_detail},
		#{item_price},
		#{item_stock},
		#{item_status})
	</insert>
	<!-- sql 태그와 include 태그를 이용한 SQL문 재사용 -->
	<sql id="goodsSearch">
		<where>
			<if test="item_name != null and item_num != ''">
				item_name = #{item_name}
			</if>
		</where>
	</sql>
	<!-- 총 등록 상품수 / 검색 상품 수 -->
	<select id="selectRowCount" parameterType="map"
		resultType="integer">
		SELECT
		COUNT(*)
		FROM item
		<include refid="goodsSearch"></include>
	</select>
	
	<!-- 굿즈샵 전체 목록 / 검색 목록 -->
	<select id="selectList" parameterType="map" resultType="goodsVO">
		SELECT
		*
		FROM(SELECT
		a.*,
		rownum rnum
		FROM (SELECT
		item_num,
		<![CDATA[
		REPLACE(REPLACE(item_name,'<','&lt;'),'>','&gt;')item_name,
		]]>
		item_photo,
		item_stock,
		dcate_num
		FROM item
		JOIN spmember USING(mem_num)
		<include refid="goodsSearch"></include>
		<include refid="goodsOrder"></include>
		)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>
</mapper>