<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.spring.goods.dao.PortOneMapper">

    <insert id="insertPaymentInfo">
        INSERT INTO payment_info (merchant_uid, amount, status, card_number, expiry, birth, pwd2digit)
        VALUES (#{merchantUid}, #{amount}, #{status}, #{cardNumber}, #{expiry}, #{birth}, #{pwd2digit})
    </insert>

</mapper>