<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.cart.dao.CartMapper">
	<!-- 장바구니 등록 -->
	<insert id="insertCart" parameterType="cartVO">
	INSERT INTO cart(
	cart_num,
	item_num,
	item_quantity,
	mem_num)
	VALUES(
	cart_seq.nextval,
	#{item_num},
	#{item_quantity},
	#{mem_num}
	)
	</insert>
</mapper>