<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.cs.dao.CSMapper">
	<insert id="insertInquiry" parameterType="inquiryVO">
		INSERT
		INTO inquiry
			(inquiry_num,
			mem_num,
			inquiry_category,
			inquiry_title,
			inquiry_filename,
			inquiry_content)
		VALUES
			(inquiry_seq.nextval,
			#{mem_num},
			#{inquiry_category},
			#{inquiry_title},
			#{inquiry_filename, jdbcType=VARCHAR},
			#{inquiry_content})
	</insert>
	<update id="updateInquiry" parameterType="inquiryVO">
		UPDATE
		inquiry
		SET  inquiry_category=#{inquiry_category},
			 inquiry_title=#{inquiry_title},
			 inquiry_filename=#{inquiry_filename, jdbcType=VARCHAR},
			 inquiry_content=#{inquiry_content}
		WHERE inquiry_num=#{inquiry_num}
	</update>
	<!-- 관리자 문의목록 -->
	<select id="selectInquiryList" parameterType="map" resultType="inquiryVO">
		SELECT *
		FROM (
		    SELECT c.*, rownum rnum FROM (
		        SELECT a.*,  b.mem_nick, b.mem_email
		        FROM inquiry a
		        JOIN member b ON a.mem_num = b.mem_num
		        ORDER BY a.inquiry_date DESC)c)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}	
		]]>
	</select>
</mapper>
